
## /!\ /!\ Update .dockerignore accordingly /!\ /!\

.DS_Store
__pycache__

_build
**/*.install

tezos-node
tezos-protocol-compiler
tezos-client
tezos-admin-client

scripts/opam-test-all.sh.DONE

docs/introduction/readme.rst

**/.merlin

**/*~
**/\#*\#

**/*.rej
**/*.orig

_opam

## Not in .gitignore

.git
.gitignore
.gitlab-ci.yml

