.git
.gitignore
.gitlab-ci.yml


tezos-node
tezos-protocol-compiler
tezos-client
tezos-webclient
tezos-attacker

src/Makefile.local

src/webclient_static.ml
src/.depend

src/node/updater/environment_gen
src/node/updater/proto_environment.mli
src/compiler/embedded_cmis.ml

src/proto/**/_tzbuild
src/proto/register_client_*.ml
src/client/embedded/**/_tzbuild

src/client/embedded/demo/.depend

src/client/embedded/alpha/.depend
src/client/embedded/alpha/concrete_lexer.ml
src/client/embedded/alpha/concrete_parser.ml
src/client/embedded/alpha/concrete_parser.mli
src/client/embedded/alpha/webclient_proto_static.ml
src/client/embedded/alpha/main.byte
src/client/embedded/alpha/webclient_static/main.js
src/client/embedded/alpha/webclient/browser/main.byte
src/client/embedded/alpha/webclient/static/main.js
src/client/embedded/alpha/webclient/webclient_proto_static.ml

test/.depend
test/lib/.depend
test/utils/.depend
test/p2p/.depend
test/shell/.depend
test/reports

test/utils/test-data-encoding
test/utils/test-merkle
test/utils/test-lwt-pipe
test/p2p/test-p2p-io-scheduler
test/p2p/test-p2p-connection
test/p2p/test-p2p-connection-pool
test/shell/test-store
test/shell/test-state
test/shell/test-context
test/proto_alpha/test-transaction

**/*~
**/\#*\#

**/*.[oa]
**/*.so
**/*~
**/*.cm[iaoxt]
**/*.cmti
**/*.cmxa
**/*.cmxs
**/*.cmp
**/*.mli.deps
**/*.ml.deps
**/*.mli.deps.byte
**/*.ml.deps.byte

**/bisect*.out

**/*.rej
**/*.orig
