
## /!\ /!\ Update .gitignore accordingly /!\ /!\

.DS_Store
__pycache__

/_build
/_opam
/_docker_build

/tezos-node
/tezos-protocol-compiler
/tezos-client
/tezos-admin-client

/scripts/opam-test-all.sh.DONE

/docs/introduction/readme.rst

*.install
.merlin

*~
\#*\#

*.rej
*.orig

