
/tezos-node
/tezos-protocol-compiler
/tezos-client

/src/.depend

/src/node/updater/environment_gen
/src/node/updater/proto_environment.mli
/src/compiler/embedded_cmis.ml

/src/proto/**/_tzbuild
/src/proto/register_client_*.ml
/src/client/embedded/**/_tzbuild

/src/client/embedded/demo/.depend

/src/client/embedded/bootstrap/.depend
/src/client/embedded/bootstrap/concrete_lexer.ml
/src/client/embedded/bootstrap/concrete_parser.ml
/src/client/embedded/bootstrap/concrete_parser.mli

/test/.depend
/test/reports

/test/test-store
/test/test-state
/test/test-context
/test/test-basic
/test/test-data-encoding
/test/test-p2p
/test/LOG

*~
\#*\#

*.[oa]
*.so
*~
*.cm[iaoxt]
*.cmti
*.cmxa
*.cmxs
*.cmp
*.mli.deps
*.ml.deps

bisect*.out

*.rej
*.orig